*{
    margin: 0;
    padding: 0;
}




/* nav bar style*/

.navclass{

    margin-top: 38px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;

}

/* nav bar button download resume design*/

.navbtn{


    background-color: white;
    padding: 10px 10px;
    border-radius: 8px;
    

}
        /* nav bar all ends here  */


        /* body starts here middle part  */


.bodybackgroundimg{
    background-image: url(../assets/Hero-bg.png);
    
}

.body{
    text-align: center;
    margin: 100px;
    padding-top: 30px;
    font-size: larger;
}

.descripton{
    font-size: small;
    color: #636368;
    margin: 25px;
}

.contactbtn{

    
    background-color: rgb(105, 3, 3);
    padding:15px 30px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;



}